#settings {
  display: none;
}

.settings-category {
  padding: 5px 0 10px 0;
  border-bottom: 1px dotted var(--light-color);
  margin-bottom: 5px;
  margin: auto;
}

.settings-category:nth-child(6) {
  border: none;
  margin-bottom: 20px;
}

.settings-category:last-child {
  margin: 30px auto;
  border: none;
}
