:root {
  --primary-color: #fff;
  --secondary-color: #333;
  --primary-transparency: rgba(255, 255, 555, 0.6);
  --secondary-transparency: rgba(255, 255, 555, 0.9);
  --light-color: #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  height: 100vh;
  font-size: 16px;
  text-align: center;
}

/* Utility classes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}

.text-secondary {
  color: #000;
}

.bookmark {
  width: 90px;
  height: 90px;
  margin: 10px;
  background-color: var(--light-color);
  opacity: 0.2;
  border-radius: 10px;
}

.bookmark:hover {
  opacity: 0.4;
  transition: opacity linear 0.4s;
  cursor: pointer;
  width: 92px;
  height: 92px;
  margin: 6px;
}

.app {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: var(--light-color);
  opacity: 0.2;
  border-radius: 10px;
}

.app:hover {
  opacity: 0.4;
  transition: opacity linear 0.4s;
  cursor: pointer;
  width: 52px;
  height: 52px;
  margin: 3px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-transparency);
  display: none;
}

.popup-window {
  position: relative;
  margin-top: 40px;
  width: 90vw;
  height: 90vh;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--secondary-transparency);
  color: #333;
  font-weight: 600;
}

.primary-title {
  font-size: 2.5rem;
  margin-top: -30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--light-color);
}

.secondary-title {
  font-size: 1.5rem;
}

.secondary-title:first-child {
  margin-bottom: 10px;
}

.settings-category {
  padding: 5px 0 10px 0;
  border-bottom: 1px dotted var(--light-color);
  margin-bottom: 5px;
  margin: auto;
}

.settings-category:nth-child(6) {
  border: none;
  margin-bottom: 20px;
}

.settings-category:last-child {
  margin: 30px auto;
  border: none;
}

.btn {
  padding: 7px 20px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.input-field {
  border: solid 1px var(--light-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
}

.add-file {
  padding: 5px;
  margin: 0 5px;
  border: solid 1px var(--light-color);
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.item {
  margin: 10px;
}

/* Background Video Styling */
body #video-bg {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

main {
  margin-top: -50px;
}

/* Navigation styling */
#navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  display: inline-block;
  padding: 5px;
}

#navigation p {
  padding: 5px;
}

.container .row {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.container .row .apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 360px;
  flex-wrap: wrap;
}

.container section #time {
  font-size: 6rem;
}

.container section #greeting {
  font-size: 3rem;
}

.container section #message {
  font-size: 1.6rem;
  max-width: 500px;
  margin-bottom: 50px;
}

.container #search-section {
  margin-right: 50px;
}

.container #search-section #search {
  width: 600px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  margin: 0;
}

.container #search-section #btn {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  margin: -50px;
  background-color: var(--primary-color);
}

.container #search-section #search:focus {
  outline: none;
}

.container #search-section #btn:focus {
  outline: none;
}

.container #bookmark-section {
  margin-top: 50px;
  max-width: 1600px;
  padding: 10px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Settings Styling */
.popup-window #exit-settings {
  position: absolute;
  top: 15px;
  right: 20px;
}

.popup-window select {
  padding: 3px 15px;
  border: 1px var(--light-color) solid;
  border-radius: 5px;
  margin: 0 20px 0 10px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 20px;
}

footer #location-and-weather {
  display: flex;
}

footer #location-and-weather #weather-api {
  padding-right: 10px;
  margin-left: 20px;
  margin-right: -65px;
}
footer #cite {
  margin-top: 15px;
  margin: auto;
  max-width: 90%;
}

footer #settings-gear {
  display: block;
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 1.4rem;
}
