:root {
  --primary-color: #fff;
  --secondary-color: #333;
  --primary-transparency: rgba(255, 255, 255, 0.6);
  --secondary-transparency: rgba(255, 255, 255, 0.9);
  --bookmark-transparency: rgba(255, 255, 255, 0.2);
  --bookmark-transparency-transition: rgba(255, 255, 255, 0.4);
  --light-color: #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  height: 100vh;
  font-size: 16px;
  text-align: center;
}

/* Utility classes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.link:hover {
  opacity: 0.8;
}

.text-secondary {
  color: #000;
}

.bookmark {
  width: 90px;
  height: 90px;
  margin: 10px;
  background-color: var(--bookmark-transparency);
  border-radius: 10px;
}

.bookmark:hover {
  background-color: var(--bookmark-transparency-transition);
  transition: background-color linear 0.4s;
  cursor: pointer;
  width: 92px;
  height: 92px;
  margin: 6px;
}

.app {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: var(--bookmark-transparency);
  border-radius: 10px;
  font-size: 2em;
}

.app:hover {
  background-color: var(--bookmark-transparency-transition);
  transition: background-color linear 0.4s;
  cursor: pointer;
  width: 52px;
  height: 52px;
  margin: 3px;
}

.sup {
  font-size: 1rem;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--secondary-transparency);
  color: #333;
  font-weight: 600;
}

.primary-title {
  font-size: 2.5rem;
  margin-top: -30px;
}

.border-bottom-light {
  border-bottom: 1px solid var(--light-color);
}

.border-right-light {
  border-right: 1px solid var(--light-color);
}

.secondary-title {
  font-size: 1.5rem;
}

.secondary-title:first-child {
  margin-bottom: 10px;
}

.btn {
  padding: 7px 20px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.input-field {
  border: solid 1px var(--light-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.content-2-rows {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
}

.content-2-cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;
}

.exit-window {
  position: absolute;
  top: 15px;
  right: 20px;
}

.select {
  padding: 3px 15px;
  border: 1px var(--light-color) solid;
  border-radius: 5px;
  margin: 10px 20px 10px 10px;
  cursor: pointer;
}

.p10 {
  padding: 10px;
}

.py20 {
  padding: 20px 0;
}

.h100 {
  height: 100px;
}

.w500 {
  min-width: 500px;
}

.w400 {
  min-width: 400px;
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

.add-file {
  padding: 5px;
  margin: 0 5px;
  border: solid 1px var(--light-color);
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.color {
  border: solid 1px var(--light-color);
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 3px;
  width: 70px;
}

/* Background Video Styling */
body #video-bg {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

main {
  margin-top: -50px;
}

/* Navigation styling */
#navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  display: inline-block;
  padding: 5px;
}

#navigation p {
  padding: 5px;
}

.container .row {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.container .row .apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 360px;
  flex-wrap: wrap;
}

.container #dynamic #time {
  font-size: 8rem;
  font-weight: 500;
}

.container .row #dynamic #greeting {
  font-size: 3rem;
}

.container #search-section #search {
  width: 700px;
  margin: auto;
  opacity: 0.8;
}

.container #search-section #btn {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  margin: -50px;
  background-color: var(--primary-color);
}

.container #search-section #search:focus {
  outline: none;
}

.container #search-section #btn:focus {
  outline: none;
}

.container #bookmark-section {
  margin-top: 50px;
  max-width: 1600px;
  padding: 10px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
}

footer #location {
  margin-right: 10px;
}

footer #location-and-weather {
  width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer #location-and-weather #weather {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

footer #quote-section {
  max-width: 85%;
}

footer #settings-gear {
  display: block;
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 1.4rem;
}
